---
import { getCollection } from "astro:content";
import SitePage from "../shared/layouts/SitePage.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const dateFormatter = new Intl.DateTimeFormat("en-UK", {
  dateStyle: "medium",
});
---

<SitePage
  title="Lev's Web things"
  description="Personal blog of Lev Cheliadinov with writings about the web"
>
  <h1>Blog posts</h1>
  <ul>
    {
      posts.map((post) => {
        const dateISO = post.data.pubDate.toISOString();
        const dateHuman = dateFormatter.format(post.data.pubDate);

        return (
          <li>
            <a href={`/blog/${post.id}`}>{post.data.title}</a>{" "}
            <time datetime={dateISO}>{dateHuman}</time>
          </li>
        );
      })
    }
  </ul>
</SitePage>

<style>
  h1 {
    margin-block: 0;
  }

  time {
    font-size: 0.8em;

    @media (width < 600px) {
      color: var(--text-subtle);

      &::before {
        content: "(";
      }

      &::after {
        content: ")";
      }
    }
  }

  @media (width >= 600px) {
    ul {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5em;
      padding: 0;
    }

    li {
      margin-block: 0;
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: subgrid;
      align-items: baseline;

      time {
        grid-column-start: 1;
        grid-row-start: 1;
      }

      a {
        grid-column-start: 2;
      }
    }
  }
</style>
